// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body { height: 100%; margin: 0; padding: 0; background-color: #40767D }
#wrapper { background-color: #FFFFFF; width: 80%; margin: auto; margin-top: 50px }
#main {min-height: 500px }

#footer-detail {text-align: center}
#footer {padding: 30px 30px; border-top: 1px solid #DDD}
#header {padding: 50px 60px 30px 80px; margin-bottom: 30px; border-bottom: 1px solid #DDD}
#left {float: left; width: 60%; margin-left: 5%}
#right {float: left; width: 30%}