<%= stylesheet_link_tag "right_bar", :media => "all" %>
<div id="mark_details">
  <table class="table">
       <tr>
          <th>港口名</th>
          <td id="tb_name">上海歌城</td>
       </tr>
        <!--
        <tr>
          <th>风向</th>
          <td id="tb_windDirection"></td>
        </tr>
        -->
  </table>
</div>