<%= stylesheet_link_tag "right_bar", :media => "all" %>
<div id="mark_details">
  <table class="table">
       <tr>
          <th>港口名</th>
          <td id="tb_name"></td>
       </tr>
        <tr>
          <th>年降雨量</th>
          <td id="tb_annual_avg_precipitation"></td>
        </tr>
        <tr>
          <th>年平均气温</th>
          <td id="tb_annual_avg_temperature"></td>
        </tr>
        <tr>
          <th>风力情况</th>
          <td id="tb_wind"></td>
        </tr>
  </table>
</div>